.div {
	width: 800px;
	margin: 10px auto;
	background-color: goldenrod;
	padding: 10px;
}
.info {
	width: auto;
	margin: auto;
	background-color: rgb(29, 28, 26);
	padding: 0.5px;
}
#table {margin-top: 30px;}
#table tr td {
	background-color: black;
	color: aliceblue;
	width: 233px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 2px solid green;
}

#btn {
	width: 90%;
	border: 0;
	height: 40px;
	background-color: black;
	color: rgb(59, 243, 78);
}

input {
	width: 700px;
	height: 40px;
	text-align: center;
	background-color: black;
	color: gold;
}

.er{ border: 3px solid red; }
